<form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="nombre">Nombre:</label>
    <input class="form-control mb-2" id="nombre" formControlName="nombre">
  </div>
  <div>
    <label for="apellido">Apellido:</label>
    <input class="form-control mb-2" id="apellido" formControlName="apellido">
  </div>
  <div>
    <label for="dpi">Dpi:</label>
    <input class="form-control mb-2" id="dpi" formControlName="dpi" type="number">
  </div>
  <div>
    <label for="dpi">TelefonoCelular:</label>
    <input class="form-control mb-2" id="telefonocelular" formControlName="telefonocelular" type="number">
  </div>
  <div>
    <label for="dpi">TelefonoCasa:</label>
    <input class="form-control mb-2" id="telefonocasa" formControlName="telefonocasa" type="number">
  </div>
  <div>
    <label for="correoelectronico">Correoelectronico:</label>
    <input class="form-control mb-2" id="correoelectronico" formControlName="correoelectronico">
  </div>
  <div>
    <label for="nit">Nit:</label>
    <input class="form-control mb-2" id="nit" formControlName="nit">
  </div>
  <div>
    <label for="nit">Creditos:</label>
    <input class="form-control mb-2" creditos="creditos" formControlName="creditos">
  </div>
  <div>
    <label for="direccion">Direccion:</label>
    <input class="form-control mb-2" id="direccion" formControlName="direccion">
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <button class="btn btn-primary" type="submit" [disabled]="studentForm.invalid">Guardar en Lista</button>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" type="button" (click)="saveToFirebase()" [disabled]="studentForm.invalid">Guardar en Firebase</button>
    </div>
  </div>
</form>

